{% extends 'base.html.twig' %}
{% block content %}
    <div class="container" style="border:solid 2px #000000;">
        <div class="row">
            <img src="{{ asset('../img/empty_profile.png') }}" class="profil_picture" alt="profil_picture" style="width:156px; height:156px; border:solid 2px #000000;">
            

        </div>
        <form class="form-signin" action="{{ path('editPassword') }}" method="post" autocomplete="off">
        <h1 class="h3 mb-3 font-weight-normal">Modifier le mdp</h1>
            {{ form(form) }}

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
        <a href="{{ path('editPassword') }}">Modifier mon mot de passe</a>
    </div>
{% endblock %}