  .contentHome {
    margin : 0 auto;
  }

  @media screen and (min-width: 1280px){
    .contentHome {
      max-width: 1280px;
      
    }
     
   }
  
  @media screen and (min-width: 1024px) {
    .contentHome {
      max-width: 1024px;
    }
    
   }
  
  @media screen and (max-width: 800px){
    .full-home-card {

      padding: 0 10px;
      flex: 33.33333%;
      max-width: 33.33333%;
     
   }
  }
  @media screen and (min-width: 800px){
    .full-home-card {

      padding: 0 10px;
      flex: 16.66667%;
      max-width: 16.666667%;
     
   }
  }


  
  #carouselExampleControls {
      width:100%;
      height:50%;
      margin: 0 auto;
      margin-top:20px;
      padding-bottom: 0.5em;
      background-color: black;
  }

  .carousel-item img{
      width: 100%;
      height:50vh;

  }

  .wrapper-home {
      margin-left: auto;
      margin-right: auto;
      padding : 12px 0px;
      background-color: black;;
  }
  .wrapper-home-img{
    width:100%; 
    height: 190px ;
  }

  
  
  .homecard{
    text-align: left;
    font-size: 0.875em;
    background-color: #212529;
    color : #FFF;
    min-width: 138px;
    height: 255px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .home-card-text {
      margin: 0px;
      padding-left: 5px;

  }

  .people.homecard {
    background-color: transparent;
    color : #FFF;
    min-width: 120px;;
    height: 255px;
  }
  .people.wrapper-home-img {
    border-radius: 50%;
    height: 150px;
    
    
    }
    .people.home-card-text {
        text-align: center;
    }