body {
  background-color: black;
}

.hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 5);
  filter: grayscale(100%);
  -webkit-filter: grayscale(50%)
}


.btn-group {
display: inline;  
}
.over_a {
  position: relative;
  text-align: center;
}
.over_i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  display:none;
}

.row {
  margin-right:0px;
}
.little_img {
width:138px; 
height: 190px ;
}

.top_info {
  background : #272b30;
  background-size: cover;
  position:relative; 
  height:auto;
  min-height: 20em;
}

.poster{
  position:absolute;

  width: 200px;
  height: 273px;
  margin-top: 21px;
  margin-left: 21px;
}
.movie_infos {
  position:relative;
  width:100%;
  color:white;
  padding-top:21px;
  padding-left:240px;
}

.small_top_info {
  background : #272b30;
  background-size: cover;
  position:relative; 
  height:auto;
  min-height: 10em;
}
.small_poster{
  position:absolute;

  width: 100px;
  height: 132px;
  margin-top: 10px;
  margin-left: 10px;
}
.small_movie_infos {
  position:relative;
  width:100%;
  color:white;
  padding-top:10px;
  padding-left:120px;
}


  @media (max-width: 768px) {
  .top_info {
  position:relative; 
  background : #272b30;
  background-size: cover;
  height: auto;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
  .poster{
  position:absolute;
  width: 200px;
  height: auto;
  margin-top: 21px;
  margin-left: 19%;
}
  .movie_infos {
  position:relative;
  width:100%;
  color:white;
  padding-top:325px;
  padding-left:20px;
} 
  
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/* Break a Very Long Word */
.wordwrap { 
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
white-space: pre-wrap;      /* Webkit */    
white-space: -moz-pre-wrap; /* Firefox */     
white-space: -pre-wrap;     /* Opera <7 */    
white-space: -o-pre-wrap;   /* Opera 7 */     
word-wrap: break-word;      /* IE */ 
}

html, body {
  height: 100%;
}
