body {
  background-color: black;
}
h3, h4 {
  color: #EDB867;
}


.hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 5);
  filter: grayscale(100%);
  -webkit-filter: grayscale(50%)
}


.btn-group {
display: inline;  
}
.over_a {
  position: relative;
  text-align: center;
}
.over_i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  display:none;
}

.row {
  margin:0px auto;
}
.little_img {
height: 190px ;
}


.small_top_info {
  background : #272b30;
  background-size: cover;
  position:relative; 
  height:auto;
  min-height: 10em;
}
.small_poster{
  position:absolute;

  width: 100px;
  height: 132px;
  margin-top: 10px;
  margin-left: 10px;
}
.small_movie_infos {
  position:relative;
  width:100%;
  color:white;
  padding-top:10px;
  padding-left:120px;
}


  @media (max-width: 768px) {
  .top_info {
  position:relative; 
  background : #272b30;
  background-size: cover;
  height: auto;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}

  .movie_infos {
  position:relative;
  width:100%;
  color:white;
  padding-top:325px;
  padding-left:20px;
} 
  
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/* Break a Very Long Word */
.wordwrap { 
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
white-space: pre-wrap;      /* Webkit */    
white-space: -moz-pre-wrap; /* Firefox */     
white-space: -pre-wrap;     /* Opera <7 */    
white-space: -o-pre-wrap;   /* Opera 7 */     
word-wrap: break-word;      /* IE */ 
}

html, body {
  height: 100%;
}
/* ------------------------------------------------------------------------- */
.homecard{
  text-align: left;
  font-size: 0.875em;
  background-color: #212529;
  color : #FFF;
  min-width: 138px;
  height: 255px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.home-card-text {
    margin: 0px;
    padding-left: 5px;

}

.people.homecard {
  background-color: transparent;
  color : #FFF;
  min-width: 120px;;
  height: 255px;
}
.people.wrapper-home-img {
  border-radius: 50%;
  height: 150px;
  
  
  }

@media screen and (max-width: 800px){
  .full-home-card {

    padding: 0 10px;
    flex: 33.33333%;
    max-width: 33.33333%;
   
 }
}
@media screen and (min-width: 800px){
  .full-home-card {

    padding: 0 10px;
    flex: 16.66667%;
    max-width: 16.666667%;
   
 }
}