.navbar {
    background-color: #212529;

}
.navbar-container {
    display: flex;
    margin-left:auto;
    width: 100%;
}
a.navbar-brand {
    color : #FFF;    
}
a.nav-link {
    color : #FFF;
}
.nav-form {
   
    width:600px;
}
#test {
    position:absolute;
    z-index: 2;
    background-color: #272b30;
    width:600px;
  
  }

.dropdown-menu{
    background-color: #272b30;
}
.dropdown-item{
    color : #FFF;
}
  

input.form-control {
    height:25px !important;
    margin-top:8px;
 }

@media (max-width: 1140px) {
    .nav-form {
        width:450px;
    }
    #test {
        width:450px;
    }
    
  }
@media (max-width: 767px) {
    .nav-form {
        width:300px;
    }
    #test {
        width:300px;
    }
}
@media (max-width: 767px) {
    .nav-form {
        width:200px;
    }
    #test {
        width:200px;
    }
    
  }