{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block content %}
<h1>Bonjour {{ list.id }}</h1>
<div id="app">
    <searchbar :idlist={{ list.id }}></searchbar>
</div>
{% endblock %}
